menu: [
  label: "Packages"
  submenu: [
    label: "Open Project in GitKraken"
    #submenu: [
      #label: 'Open Project' #Release
    command: 'gitkraken:release'
] ] #]
'context-menu':
  '.tree-view .header .icon-repo,
   .header .tree-view-git-status,
   [class^="status-bar"] [class^=git][class*=branch]': [
    label: "Open Project in GitKraken"
    command: 'gitkraken:release'
  ]
