menu: [
	label: "Packages"
	submenu: [
		label: 'Open Project in GitKraken' #GitKraken
		#submenu: [
			#label: 'Open Project' #Release
		command: 'gitkraken:release'
]	]	#]
'context-menu':
	'.platform-darwin .tree-view': [
		label: 'Open Project in GitKraken'
		command: 'gitkraken:release'
	]
	'[class^="status-bar"] .git-branch': [ #[class^="git-"]
		label: 'Open Project in GitKraken'
		command: 'gitkraken:release'
	]
